<div class="row">
  <div class="col-md-5">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="itemName">Name</label>
          <input
            type="text"
            id="itemName"
            class="form-control"
            [ngModel]="selectedIngredient.name"
            required
            name="name">
        </div>
        <div class="col-md-2 form-group">
          <label for="itemAmount">Anzahl</label>
          <input
            type="text"
            id="itemAmount"
            class="form-control"
            [ngModel]="selectedIngredient.amount"
            required
            name="amount">
        </div>
        <div class="col-sm-12 form-group">
          <button type="submit" class="btn btn-success mr-1">Speichern</button>
          <button type="button" (click)="onDelete(f)" *ngIf="isAdd==false" class="btn btn-danger mr-1">Löschen</button>
          <button type="button" (click)="onClear(f)" class="btn btn-primary mr-1">Zurücksetzen</button>
        </div>
      </div>
    </form>
  </div>
</div>
